<h1>Cart #{{cart._id}}</h1>

{{#each cart.products}}
<div>
    <h3>{{this.product.title}}</h3>
    <span>Qty:</span>{{this.quantity}}</span>
    <span>Unit Price: ${{this.product.price}}</span>
</div>
<br />
<br />
{{/each}}
