<button type="button" id="logOutBtn">Log Out</button>

<h1>Real-Time Products</h1>

<div>
    <form id="addProductForm">
        <input type="text" name="title" id="productTitle" placeholder="Producto" required>
        <br />
        <input type="text" name="description" id="productDescription" placeholder="Descripción" required>
        <br /> 
        <input type="number" name="price" id="productPrice" placeholder="Precio" required>
        <br />
        <input type="number" name="stock" id="productStock" placeholder="Stock" required>
        <br />
        <label>Categoría: </label><select name="category" id="productCategory" required>
            <option value="Recording">Recording</option>
            <option value="Microphones">Microphones</option>
            <option value="Headphones">Headphones</option>
            <option value="Monitors">Monitors</option>
        </select>
        <br />
        <input type="text" name="code" id="productCode" placeholder="Código" required>
        <br />
        <label for="available">Available:</label>
            <input type="radio" name="available" class="available" value="true" required>
            <label for="available">Yes</label>
            <input type="radio" name="available" class="available" value="false" required>
            <label for="available">No</label>
        <br />
        <br />
        {{!-- <input type="file" name="files" id="file" multiple> --}}
        <button type="submit">Agregar Producto</button>
    </form>
</div>
<br />
<div>
    <form id="deleteProductForm">
        <label for="id">Selecciona el id del producto a eliminar:</label>
        <input type="text" name="_id" id="selectId">
        <br />
        <button type="submit">Eliminar Producto</button>
    </form>
</div>

<div id="productsContainer">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>
