<h1>Restore Password</h1>

<form action="/api/sessions/restore-password" method="post">
    <label>Email: </label> <input type="email" name="email" /> <br /><br /> 
    <label>New Password: </label> <input type="password" name="password" placeholder="Type a new password"/> <br /><br /> 
    <button type="submit">Restore</button>
</form>
<br/>
<button type="button"><a href="/login">Cancel</a></button>